.app-nav {
  margin: 25px 60px 0 0;
  position: fixed;
  right: 0;
  text-align: right;
  z-index: 10;
}
.sidebar-nav {
  margin-left: 20px;
}
.markdown-section {
  padding-top: 6vh !important;
  padding-bottom: 6vh !important;
}
.markdown-section > button {
  right: 2vw !important;
  bottom: 2vh !important;
}

#professional-path > .mermaid {
  overflow-x: auto;
}
#professional-path > .mermaid > svg {
  width: 400%;
}